<!doctype html>
<html>
  <head>
    <title>Sandstorm test app</title>
  </head>
  <body>

<style>
* {
  font-size: 14pt;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
iframe {
  display: block;
}
p {
  margin: 0;
}
#session-id, #user-id, #username, #preferred-handle, #permissions, #user-pronouns {
  background-color: #eeeeee;
}
.token {
  font-family: monospace;
}
</style>

    <h1>Sandstorm test app</h1>
    <p>App Version: <span id="app-version">{{app_version}}</span></p>
    <pre id="randomId">{{ content }}</pre>

    <section>
      <h2>Powerbox request</h2>
      <ul>
        <li><button id='powerbox-request-uiview' onclick="doRequest(interfaces.uiView);">Request UiView</button></li>
        <li><button id='powerbox-request-ipnetwork' onclick="doRequest(interfaces.ipNetwork);">Request IpNetwork</button></li>
        <li><button id='powerbox-request-ipinterface' onclick="doRequest(interfaces.ipInterface);">Request IpInterface</button></li>
      </ul>
    </section>

    <section>
      <h2>Powerbox offer</h2>
      <table>
        <thead>
          <tr>
            <td>Type</td>
            <td>SturdyRef</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
        {% for cap in saved_caps %}
          <tr>
            {% if cap.descriptor.tags[0].id == "15831515641881813735" %}
              <td>UiView</td>
            {% elif cap.descriptor.tags[0].id == "12214421258504904768" %}
              <td>IpNetwork</td>
            {% elif cap.descriptor.tags[0].id == "16369547182874744570" %}
              <td>IpInterface</td>
            {% else %}
              <td>Unknown</td>
            {% endif %}
            <td><span class="token">{{cap.token}}</span></td>
            <td>
              {% if cap.descriptor.tags[0].id == "15831515641881813735" %}
              <button class="offer-cap" data-cap-id="{{cap.token}}" onclick="doOffer('{{cap.token}}');">Offer</button>
              {% elif cap.descriptor.tags[0].id == "12214421258504904768" %}
              <button class="test-cap" data-cap-id="{{cap.token}}" onclick="useIpNetwork('{{cap.token}}');">Test</button>
              {% elif cap.descriptor.tags[0].id == "16369547182874744570" %}
              <button class="test-cap" data-cap-id="{{cap.token}}" onclick="useIpInterface('{{cap.token}}');">Listen</button>
              {% endif %}
            </td>
          </tr>
        {% endfor%}
        </tbody>
      </table>
    </section>

    <section>
      <h2>Save state</h2>
      <form action="/" method="POST">
        <label>New state: <input id="state" type="text" name="state"></input></label>
        <button>Save new state</button>
      </form>
    </section>

    <section>
      <h2>Request data</h2>
      <p>X-Sandstorm-Session-Id: <span id="session-id">{{session_id}}<span></p>
      <p>X-Sandstorm-User-Id: <span id="user-id">{{user_id}}<span></p>
      <p>X-Sandstorm-Username: <span id="username">{{username}}<span></p>
      <p>X-Sandstorm-Preferred-Handle: <span id="preferred-handle">{{handle}}<span></p>
      <p>X-Sandstorm-Permissions: <span id="permissions">{{permissions}}<span></p>
      <p>X-Sandstorm-User-Pronouns: <span id="user-pronouns">{{pronouns}}<span></p>
    </section>

    <section>
      <h2>setPath</h2>
      <button id="setPath" onclick="setPath();">Set Path</button>
    </section>

    <section>
      <h2>setTitle</h2>
      <input id="title" type="text"></input>
      <button id="setTitle" onclick="setTitle();">Set Title</button>
    </section>

    <section>
      <h2>startSharing</h2>
      <button id="startSharing" onclick="startSharing();">Start Sharing</button>
    </section>

    <section>
      <h2>showConnectionGraph</h2>
      <button id="showConnectionGraph" onclick="showConnectionGraph();">Show Connection Graph</button>
    </section>

    <section>
      <h2>renderTemplate</h2>
      <button id="renderTemplate" onclick="renderTemplate();">Render Template</button>
      <iframe id="template-frame"></iframe>
    </section>

    <section>
      <h2><a href="/reflect">Reflect a request</a></h2>
    </section>

<script type="text/javascript">

interfaces = {
  // Powerbox descriptors for various interface IDs.

  uiView: "EAZQAQEAABEBF1EEAQH_5-Jn6pjXtNsAAAA", // 15831515641881813735,
  // This is produced by:
  // urlsafeBase64(capnp.serializePacked(PowerboxDescriptor, {
  //   tags: [
  //     { id: UiView.typeId },
  //   ],
  // }))

  ipNetwork: "EAZQAQEAABEBF1EEAQH_QCAqemtXgqkAAAA", // 12214421258504904768,
  // As above with uiView, but with IpNetwork's capnp id

  ipInterface: "EAZQAQEAABEBF1EEAQH_-tY-6W5QLOMAAAA", // 16369547182874744570,
  // As above with uiView, but iwth IpInterface's capnp id

  // And so on.  We probably won't test these all, but having them around is handy.
  // ipRemoteHost: "10402707569554174256",
  // tcpPort: "16911595059595970228",
  // udpPort: "14276742948984979918",
};

function doRequest(serializedPowerboxDescriptor) {
  window.parent.postMessage({ powerboxRequest: {
    rpcId: "1",
    query: [serializedPowerboxDescriptor],
  }}, "*");
}

function doOffer(capId) {
  console.log("should offer", capId);
  var xhr = new XMLHttpRequest();
  var capOfferUrl = window.location.protocol + '//' + window.location.host + '/caps/' + capId;
  xhr.open("POST", capOfferUrl, true);
  xhr.send();
}

function useIpNetwork(token) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (xhr.status !== 200) {
        console.log("failed to use token");
      }
    }
  };
  var capTestUrl = window.location.protocol + '//' + window.location.host + '/test_ip_network_cap';
  xhr.open("POST", capTestUrl, true);
  var formData =new FormData();
  formData.append("token", token);
  xhr.send(formData);
}

function useIpInterface(token) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (xhr.status !== 200) {
        console.log("failed to use token");
      }
    }
  };
  var capTestUrl = window.location.protocol + '//' + window.location.host + '/test_ip_interface_cap';
  xhr.open("POST", capTestUrl, true);
  var formData =new FormData();
  formData.append("token", token);
  xhr.send(formData);
}

function setPath() {
  console.log('calling setPath');
  window.parent.postMessage({setPath: '/#setpath'}, "*");
}

function setTitle() {
  var newTitle = document.getElementById('title').value;
  console.log('calling setTitle(' + newTitle + ')');
  window.parent.postMessage({setTitle: newTitle}, "*");
}

function startSharing() {
  console.log('calling startSharing');
  window.parent.postMessage({startSharing: {}}, "*");
}

function showConnectionGraph() {
  console.log('calling showConnectionGraph');
  window.parent.postMessage({showConnectionGraph: {}}, "*");
}

function renderTemplate() {
  window.parent.postMessage({ renderTemplate: {
      rpcId: '0',
      // This template is valid JSON, so you can just JSON.parse()
      // it in the tests
      template: '{\n  "token": "$API_TOKEN",\n  "host": "$API_HOST"\n}',
    }
  }, "*");
}

var messageListener = function(event) {
  console.log('got postMessage:');
  console.log(event);
  if (event.data.rpcId === '0') {
    if (event.data.error) {
      console.log("ERROR: " + event.data.error);
    } else {
      var el = document.getElementById('template-frame');
      el.setAttribute('src', event.data.uri);
      // Indicate in a test-friendly way that we've set the src
      el.setAttribute('data-rendered', 'true');
    }
  } else if (event.data.rpcId === '1') {
    console.log("request completed");
    if (event.data.error) {
      console.log("error:", event.data.error);
    } else {
      console.log("got token!");
      console.log(event.data.token);
      console.log(event.data);
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            console.log("ok!");
            document.location.reload(true);
          } else {
            console.log("failed to save token");
          }
        }
      };
      var capSaveUrl = window.location.protocol + '//' + window.location.host + '/caps';
      xhr.open("POST", capSaveUrl, true);
      var formData =new FormData();
      formData.append("token", event.data.token);
      formData.append("descriptor", JSON.stringify(event.data.descriptor));
      xhr.send(formData);
    }
  }
}

window.addEventListener('message', messageListener);
</script>
  </body>
</html>
